html {
 margin: 0%;
padding: 0%;
font-family: futura;
}

body {
    height: auto;
    
}

p {
    
    font-size: 14px;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
}
 
a:hover {
    
    color: grey;
    text-decoration: none;
    text-decoration-line: none;
}

:root{
    
    --bggrey: rgba(0.0.0.2)
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    
}


.logo {
    padding-top: 0.3%;
    padding-left: 2%;
    width: 135px;
    height: 75%;
    float: left;
}

.logo:hover {
    
    opacity: 0.8;
}

.menu {
    margin : 0 auto;
    width: 85%;
    height: 50%;
}

.menu_mob {
    display: none;
    font-family: futura;
    width: 15%;
    color: white;
    float: right;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    width: 35%;
}

.loader{
  width:50%;
  height:20px;
  background:white;
  border-radius:10px;
  border: 1px solid grey;
  overflow:hidden;
} 

.anim{
  width:100%;
  height:100%;
  background:black;
  animation-name: loader;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;

}

@keyframes loader {
  0% {
    width:0%;
  }
  50% {
    width:50%;
  }
  100% {
    width:100%;
    
  }
}

.dropdown {
    display: none;
    height:100%;
    width: auto;
    display: flex;
    justify-content: center;
    
}

.dropdown button {
    display: none;
    width: 100%;
    background-color: black;
    color: white;
}

.dropdown-child {
padding-top: 25%;
margin-top: 65px;
font-weight: 600;
float: left;
font-size: 120%;
display: none;
background-color: grey;
width: 100%;
height: 600px;
}
.dropdown-child a {
display: none;
display: flex;
justify-content: space-around;
height: 100px;
text-align: center;
color: white;
padding: 4%;
text-decoration: none;
margin-top: auto;
}
.dropdown:hover .dropdown-child { 
display: none;
padding-top: -20%;
display: block;
}

.menu_nav {
font-weight: 400;
width: 10%;
height: 100%;
margin-right: 2,5%;
padding-right: 3%;
padding-left: 10%;
font-family: futura;
color: white;
}


.menu_nav:hover {
    
    color: grey;
    text-decoration: none;
}


.container_body {
    width: 100%;
    height: 2000px;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    
}

.container_body_index {
    
     width: 100%;
    height: 2000px;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
}

.contain {
    width: 100%;
    height: auto;
    margin: 0 auto;
}



.top_acc {
    
    width: 100%;
    height: auto;
}

.topper {
    width: 100%;
}

.topper_art {
    
    width: 100%;
}

.bouton {
    margin-bottom: -0%;
}

.video-wrapper {
    width: 100%;
    height: 650px;
}





.txt_top {
    box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .08);
    background-color: #FAFAFA;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}


.txt_top h3 {
    text-align: left;

}




.articles_top {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: ;
    align-items: center;
    justify-content:space-around;

}

#top_title {
    
    display: flex;
    justify-content: center;
}

.img_art_g {
    width: 25%;
    height: 100%;
    
}

.img_art {
    width: auto;
    height: 100%;
}

.img_art:hover {
    opacity: 80%;
}

.lists {
    width: 100%;
    height: auto;
    background-color: ;
    display: flex;
    flex-direction: row;
}

.title_art {
    background-color: ;
    font-family: futura;
    font-size: 125%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.title_art div {
    width: 80%;
    justify-content: center;
    padding-left: 9%;
}

/*RESPONSIVE*/

@media only screen 
    and (max-width : 375px)  { 
        
        nav {
            
            height: 500px;
            
        }
        
        
        
        p {
            
            font-size: 700;
        }
        
        
        
        .categorie-container div {
            
            width: 100%;
            height: 250px;
            
        }
        
         .section_achat {
                    
                    padding-top: 300px;
                    padding-top: 200px;
                }

}


.list_hov:hover {
    text-decoration: none;
    color: grey;
    
    
}

.articles_lec {
    
    width: 100%;
    height: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;


}
.img_art_gau {
    
    background-color:black;
    width: 50%;
    height: 100%;
    float: left;
}

.img_art_gau img {
    
    width: auto;
    height: 100%;
}   

.lecturediv {
    width: 50%;
    height: 100%;
    float: left;
}

.lecturediv img {
    width: auto;
    height: 100%;
}

.lecturediv_gau {
    width: auto;
    height: auto;
    float: left;
}

.lecturediv_gau img {
    width: auto;
    height: 100%;
}



.txt_dr {

    width: 45%;
    height: 100%;
    padding-top: 3%;
    float:left;
    text-align: center;
}

.txt_dr h3 {
    font-size: 110%;
}

.txt_dr div {
    margin: 0 auto;
    width: 17%;
    font-size: 130%;
    font-family: futura;
    border-radius: 20px;
    background-color: orange;
}

.txt_gau {

    width: 50%;
    height: auto;
    padding-top: 10%;
    float:right;
    text-align: center;
}

.txt_gau h3 {
    font-size: 110%;
}

.txt_gau div {
    height: auto;
    margin: 0 auto;
    width: 15%;
    font-family: futura;
    font-size: 130%;
    border-radius: 20px;
    background-color: orange;
}

.articles_prod {
    
    width: 100%;
    height: auto;

}

.txt_art_gau {
    
    width: 50%;
    height: 300px;
    text-align: justify;
    background-color: bisque;
    padding-right:3%;
    padding-left: 3%;
    padding-top: 3%;
    position: relative;
    float: left;
}

.img_art {
    width: 50%;
    height: 100px;
    background: aqua;
    position:relative;
}




/* PAGE CONNEXION */ 


.connex_div {
    display: flex;
    flex-direction: `row;
    width: 100%;
    height: 800px;
}

.connex_div h3 {
    
    padding-top: 10%;
    padding-bottom: 10%;

}

.connex_div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 50%;
    
}

.connex_div div div {
    justify-content: flex-start;
    width: 100%;
}

.co_button {
    
    border-radius: 10px;
}




/*CONTACT*/


.txt_contact {
    border: 2px solid;
    padding-left: 5%;
    width: 100%;
    height: 300px;
    float: left;
    text-align: justify;
    padding-bottom: 5%;

}

.txt_contact_d {
    border: 2px solid;
    padding-right: 5%;
    width: 100%;
    height: 300px;
    float: right;
    text-align:right;
}




/*RESPONSIVE*/

@media only screen 
    and (max-width: 1000px) { 
        
        .title_top_art h2  {
    
    font-size: 4rem;
}

        
        .topper {
            
            display: none;
        }
        
        p {
            
            font-size: 125%;
        }
        
    nav {
        100%;
        padding-right: 2%;   
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: space-between;
    
    } 
        
        .menu {
            
            display: none;
        }
        
        .menu_mob {
            
            font-size: 200%;
            display: inherit;
        }
        .dropdown {
            display: inherit;
        }
        .dropdown button {
            
            display: inherit;
        }

        .menu_mob:hover .dropdown-child {
            
            display: block;
        }
        
        .articles_top {
            
            display: none;
        }
        
        .title_art {
            
            display: none;
        }

        
    .container_body_index {
            
            height: 2200px;
        }
        
    .logo {
        width: 20%;
        height: auto;
        float: left;
}
    
    .articles_lec {

        width: 100%;
        height: 600px;
    }

    .lecturediv {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
    }

    .lecturediv img {
        width: auto;
        height: 100%;
    }

    .lecturediv_gau {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .lecturediv_gau img {
        width: ;
        height: 100%;
    }



    .txt_dr {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 40%;
        float:left;
        text-align: center;
    }

    .txt_dr h2 {

        font-size: 300%;
    }        

    .txt_dr h3 {
        font-size: 140%;
    }

    .txt_dr div {
        margin: 0 auto;
        width: 175px;
        font-size: 200%;
        font-family: futura;
        border-radius: 35px;
        background-color: orange;
    }

    .txt_gau {
        padding-bottom: 3%;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content:center;
        flex-direction: column;

    }


    .txt_gau h2 {

        font-size: 300%        
    }

    .txt_gau h3 {
        font-size: 140%;
    }

    .txt_gau div {
        height: auto;
        margin: 0 auto;
        width: 175px;
        font-size: 200%;
        border-radius: 35px;
    }
        
        .connex_div {
            padding-right: %;
            margin: auto;
            flex-direction: column;
            justify-content: space-around;
        
        }
        
        .connex_div div {
            display: flex;
            width: 100%;
            align-items: center;
        }
        
        .connex_div div div {
            width: 100%;
            justify-content: center;
        }
        
        
        
        input {
            border: 1.5px solid;
    
        }
        
        
        
        .achat_button {
    
        width: 35%;
        border-radius: 35px;
        background-color: orange;

        }
        
        .footer {
            
            height: 900px;
        }
        
        .social div {
        width: 100%;
        height: 80%;
   

        }
        
        .social div img {
            
            height: 100%;
        }

        
        

        
}




/*Articles*/
        
        
        

.img_art_veste {
    background-color: aqua;
    float: left;
    margin:4%;
    width: 25%;
    height: 300px;
    
}

.img_art {
    width: 100%;
    height: 100%;
}

.img_art:hover {
    opacity: 0.7;
    text-decoration: none;
}


.title_top {
padding-top: 3%;
font-size: 245px;
text-align: center;

    
}

.img_art_drt img {
    width: 100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: black;
    display: flex;
    
}

.footer div {
    
    width: 33.33%;
    height: auto ;
}

.footer div h3 {
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    
}

.footer ul {
    
    padding-top: 4%;
}

.footer ul li {
    
    padding : 1%;
    font-size: 120%;
    font-weight: 500;
    color: #FAFAFA;
    
    
}

.footer ul li a {
    
    color: #FAFAFA;
    text-decoration: none;
    text-decoration-line: none;
}

.footer ul li a:hover {
    
    color: grey;
    text-decoration: none;
    text-decoration-line: none;
}

.footer div h6 {
    
    padding: 23%;
}

.footer div h6 a {
    
    color: #FAFAFA;
}

.footer div h6 a:hover {
    
    color: grey;
}

.social div {
    width: 100%;
   

}

.footer div:last-child {
    align-content: flex-end;
    color: #FAFAFA;
    justify-content: flex-end;
}

.end {
    color: white;
    width: 100%;
    height: 40px;
    background-color: #393939;
    padding-left: 2%;
}


.social div img {
    padding-top: 20%;
    padding-bottom: 15%;
    justify-content: center;
    width: 14%;
    height: auto;
    
}



.title_top_art {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
    font-family: futura;
    text-align: center;
    
}

.title_top_art b  {
    
    font-size: 4rem;
}

.articles_img {
    
    width: 100%;
    height: 350px;

}

.txt_art_img{
    width: 47%;
    height: auto;
    background-color: #FAFAFA;
    float: left;
    box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .08);
}

.txt_art_img p {
    padding: 5%;
    text-align: justify;
    
}


.img_art_drt {
    background-color:;
    width: 40%;
    height: 100%;
    float: right;
}

.img_art_drt img {
    width: 100%;
}

.img_art_gau {
    
    background-color:black;
    width: 50%;
    height: 100%;
    float: right;
}

.img_art_gau img {
    
    width: auto;
    height: 100%;
}   

.txt_art_img_drt{
    width: 47%;
    height: auto;
    background-color: antiquewhite;
    float: right;
    border-radius: 20px;
}

.txt_art_img_drt {
    padding: 5%;
    text-align: justify;
}


.section_achat h3 {
    height: auto;
    display: flex;
    justify-content: center;
}

.achat_button {
    
    margin: 0 auto;
    width: 15%;
    font-size: 175%;
    display: flex;
    justify-content: center;
    font-family: futura;
    border-radius: 35px;
    background-color: orange;
}





/*RESPONSIVE BIG SCREEN*/

@media only screen 
    and (min-width: 1343)
        (max-width:1920)  {
        
            
            .men_mob {
                
                display: none;
            }
            
        .title_top_art {
            
            display: none;
        }
            
        .title_top_art h2  {
    
            font-size: 4rem;
        }
        
        p {
            
            font-size: x-large;
        }
        
        .txt_dr {
            
            width: 60px;
            height: 200px;
        }
        
        .articles_lec {
            
            height: 1000px;
        }
            
}



/*RESPONSIVE Medium*/


@media only screen
    and (min-width: 400px)
    and (max-width: 550px)  {
        
        
        .container_body {
            
            height: 2000px;
        }
        
        .articles_img {
            
            display: flex;
            flex-direction: column-reverse;
            height: auto;
        }
        
        .title_top_art h2  {
    
    font-size: 4rem;
}
        .container_body p {
            text-align: justify;
            font-size: x-large;
        }
        
         p {
            font-size: x-large;
        }
        
        
        .article_top {
            
            display: none;
        }
        
        .title_art {
            
            display: none;
        }
        
        .lecturediv_gau {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            
        }
        
        .img_art_drt {
            
            height: 75%;
            width: auto;
        }
        
        .lecturediv_gau img {
            
            width: 75%;
            height: 100%;
        }
        
        .txt_art_img {
            width: 100%;
            height: auto;
        }
        
        .txt_art_img p {
            
            height: 100%;
        }
        
        .article_prod {
            
            height: 1700px;
        }
        
        .achat_button {
            
            margin: 0 auto;
            width: 30%;
            font-size: 175%;
            display: flex;
            justify-content: center;
            font-family: futura;
            border-radius: 35px;
            background-color: orange;
        }
    
        
        .achat_button {

            width: 25%;
            border-radius: 35px;
            background-color: orange;
        }
        
        .footer {
            
            display: none;
        }

}
    




/*RESPONSIVE SMALL*/

@media only screen
    and (max-width: 399px) {
        
        .container_body {
            
            width: 100%;
            height: auto;
        } 
        
        .container_body_index {
            
            height: 2000px;
        }
        
        .container_body p {
            text-align: justify;
            font-size: x-large;
        }
        
        .contain {
            
            height: 2000px;
        }
        
        .article_prod article {
            
            height: auto;
        }
        
        .topper {
            
            display: none;
        }
        
        p {
            font-size: x-large;
        }
        
        .articles_top {
    
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: row;
    justify-content:space-around;

}
        
        .txt_art_img {
            height: auto;
        }
        
        
        .img_art_g {
            
            width: 100%;
            height: auto;
        }
        
        .article_lec {
            
            width: 100%;
            height: 1200px;
        }
        
        .lecturediv_gau {
            
            width: 100%;
            height: auto;
            
        }
        
        .lecturediv_gau img {
            width: 100%;
            height: 50%;
        }
        
          .articles_lec {

        width: 100%;
        height: 600px;
    }

        .lecturediv {
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
        }

        .lecturediv img {
            width: auto;
            height: 100%;
        }

        .lecturediv_gau {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
        }

        .lecturediv_gau img {
            width: ;
            height: 100%;
        }
        
        
        .articles_top {
            
            display: none;
        }
        
        .article_img {
            
            display: flex;
            flex-direction: column-reverse;
        }
        
        .title_art {
            
            display: none;
        }
    
        
        .section_achat {
            width: 100%;
            height: 45%;
    
        }
        
        .section_achat h3 {
            
            display: none;
        }
        
        .achat_button {
            
            width: 135px;
        }
        
        .article_prod {
            
            height: 1800px;
        }
        
        .img_art_drt {
            
            height: 75%;
            width: auto;
        }
        
        .lecturediv_gau img {
            
            width: 75%;
            height: 100%;
        }
        
        .txt_art_img {
            width: 100%;
            height: auto;
        }
        
        .footer {
                    
                    display: none;
                }
        
        
    
    }

        /*RESPONSIVE X-SMALL*/

        @media only screen
            and (max-width: 350px) {
                
                .container_body_index {
                    
                    height: 2500px;
                }
                
                .section_achat {
                    
                    padding-top: 300px;
                }
                
}   








